/*弹出框默认样式*/
*{padding: 0; margin: 0;}
html,body{
  position: relative;
  width:100%;
  height:100%;
}

/*弹窗基本样式*/
.codoon_pop.show{
  opacity: 1!important;
}
.codoon_pop.fade{
  opacity: 0;
}

.codoon_pop.hide{
  display: block;
  opacity: 0;
}
.codoon_pop{
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  width: 100%;
  height: 100%;
/*  display: none;*/
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;  /* Firefox 4 */
  -webkit-transition: opacity 0.25s ease; /* Safari 和 Chrome */
  -o-transition: opacity 0.25s ease;

}
.codoon_pop .header{
  position: relative;
  min-height: 16.43px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.codoon_pop .header h4{
  font-size: 24px;
}

.codoon_pop .pop_bg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000; 
  opacity: 0.5;
}
.codoon_pop .pop_cont{
  padding: 20px;
  width: 800px;
  min-height: 400px;
  max-height: 500px;
  overflow: auto;
  transition: all 0.20s linear;
  -moz-transition: all 0.20s linear;  /* Firefox 4 */
  -webkit-transition: all 0.20s linear; /* Safari 和 Chrome */
  -o-transition: all 0.20s linear;
}


.codoon_pop .pop_container{
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  position: absolute;
  border-radius: 5px;
  background: #fff;
  left: 50%;
  top: 50%;
  transform:translate3d(-50%,-50%,0);
  -ms-transform:-ms-translate3d(-50%,-50%,0); /* Internet Explorer */
  -moz-transform:-moz-translate3d(-50%,-50%,0); /* Firefox */
  -webkit-transform:-webkit-translate3d(-50%,-50%,0); /* Safari 和 Chrome */
  -o-transform:-o-translate3d(-50%,-50%,0); /* Opera */
}

.codoon_pop .pop_container button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 15px;
  border: 0;
}
.codoon_pop .pop_container .close {
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

.codoon_pop .footer{
  text-align: right;
  padding: 10px;
}
.codoon_pop .footer button{
  display: inline-block;
 /* color: #fff;*/ 
  background-color: #fff;
  border-color: #2e6da4;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.codoon_pop .footer button:hover{
  background-color: #e6e6e6;
border-color: #adadad;
}

@media all and (min-width:300px) and (max-width:800px){
 .codoon_pop .pop_cont{
    padding: 10px;
    width: 280px;
    height: 120px;
    min-height: 120px;
    overflow: auto;
  }
  .codoon_pop .header h4{
    font-size: 16px;
  }
  .codoon_pop .header{
    position: relative;
    min-height: 12.43px;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
  }
  .codoon_pop .pop_container button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 0;
  }
}
/*弹窗基本样式end*/